*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

.main{
    width: 95%;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

.register-login{
    display: flex;
    align-items: center;
    flex-basis: 15%;
}

.search-box{
    display: flex;
    flex-basis: 50%;
    border: solid 2px black;
    align-self: stretch;
    margin: 5px;
}

.search-box>input[type="text"]{
    width: 100%;
    border: none;
    border-left: 1px black solid;
    padding: 5px 10px;
}
.search-box>input[type="text"]:focus{
    outline: none
}

.search-box>button{
    white-space: nowrap;
    border: none;
    background-color: blue;
    color: white;
    padding: 5px 10px;
}

.search-box>button:focus{
    outline: none;
}

.search-box>select{
    border: none;
}

.menu{
    position: relative;
}


.sub-menu{
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    white-space: nowrap;
}

.sub-menu>li{
    padding: 5px 10px;
    background-color: aqua;    
}

.sub-menu>li:hover{
    background-color: rgb(0, 81, 255);
    color:white
}

.menu.active, .menu:hover   {
    background-color: aqua;
}

.menu.active> .sub-menu{
    display: block;
    
}

section{
    display: flex;
}

.side-menu{
    padding: 15px 10px;
    flex-basis: 20%;
}
.main-content{
    width: 100%;
}


.side-menu>ul{
    margin-left: 5%;
    list-style-type: none;
}

.side-menu>*{
    color: rgb(35, 93, 255)
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
}

.product-container>.post{
    flex-basis: 20%;
    margin: 10px;
    border: solid 1px;
}

.post>img{
    max-width: 100%;
}

.zoom{
    transition: all 0.3s ease-in;
}

.zoom:hover{
    transform: scale(1.1);
}